
	body {
		font-family: 'Nunito', sans-serif !important;
		background: #223;
		-webkit-text-size-adjust:none;
		text-size-adjust: none;
		margin: 0 !important;
		overflow-y: hidden;
	}
	#render {
		/*
		position:fixed;
		right: 0; */
		font-family: 'Quattrocento Sans', sans-serif;
		/*font-family: 'Nunito', sans-serif;*/
		background: #fff;
		padding: 4em 5em;
		/* top: 5em; */
		margin: 50px auto;
		box-shadow: 0.4em 0.4em 0.4em #222;
		min-width: 42%;
		width: 42%;
		float:right;
		min-height: 72vh;
		height: 72vh;
		overflow-y: auto;
	}

	#content {
		position: fixed;
		font-family: 'Consolas', sans-serif;
		padding: 0 3.5em;
		margin: 50px auto;
		box-shadow: 0.4em 0.4em 0.4em #222;
		max-width: 38%;
		min-height: 91vh;
		height: 91vh;
		float: left;
		overflow-y: auto;
	} 
	
	/*
	.btn {
		color: #fff;
		background-color: #14f;
		box-shadow: 0.5em 0.5em 0.5em #333;
		border: none;
		border-radius: 5px; 
		cursor: pointer;
		padding: 10px;
	}
	
	.btn:hover {
		background-color: #16f;
		box-shadow: 0.2em 0.2em 0.2em #333;
	}
	*/
	
	.btn {
		font-family: 'Nunito', sans-serif;
		font-weight: 800;
		border: none;
		background-color: transparent;
		color: #fff;
		cursor: pointer;
	}
	
	.btn:hover {
		text-decoration: underline;
	}
	
	.nb1{
        border: 1px solid #EEEEEE;
        box-shadow: 1px 1px 0 #DDDDDD;
        display: block;
        line-height: 28px;
        resize: none;
        height: 100%;
		background-color: #fff;
		
        background-image: -moz-linear-gradient(top , transparent, transparent 27px,#E7EFF8 0px), -moz-radial-gradient(4% 50%, circle closest-corner, #f5f5f5, #f5f5f5 39%, transparent 0%), -moz-radial-gradient(3.9% 46% , circle closest-corner, #CCCCCC, #CCCCCC 43.5%, transparent 0%); 
        background-image: -webkit-linear-gradient(top , transparent, transparent 27px,#E7EFF8 0), -webkit-radial-gradient(4% 50%, circle closest-corner, #f5f5f5, #f5f5f5 39%, transparent 0%), -webkit-radial-gradient(3.9% 46%, circle closest-corner, #cccccc, #cccccc 43.5%, transparent 0%);
		background-attachment: local;
        -webkit-background-size:  100% 28px;
        background-size: 100% 28px;
    }
	
	#actionbar {
	  overflow: hidden;
	  background-color: rgba(0, 69, 138, 0.8);
	  position: fixed; /* Set the navbar to fixed position */
	  top: 0; /* Position the navbar at the top of the page */
	  width: 100%; /* Full width */
	  padding: 10px;
	  height: 28px;
	}
	
	#editbar {
	  display: inline;
	}
	
	table {
		text-align: center;
		border: 1px solid black;
		border-collapse: collapse;
	}
	
	table, th, td {
	  border: 1px solid black;
	}
	
	/*
	@page, @media print{ 
		margin: 2.5cm 0cm 3cm;  
		size: 210mm 297mm; 
		page-break-after: always;
	}*/
	
/* 	@media print {
		#render {
			box-shadow: none;
			padding: 0;
			margin: 0;
		}
	} */
	
